This will be a processing pipe for data from the SensorTile.box into proper input for the Madgwick algorithm

In [8]:
import pandas as pd
import numpy as np
import os

index = 5
dir = "./datasets/Data_Log{}/".format(index)
files = os.listdir(dir)

# extract data and skip first three rows
acc_data = pd.read_csv(dir+files[0], skiprows=3) # add skiprows=3 for proper file formatting
gyr_data = pd.read_csv(dir+files[1], skiprows=3)
mag_data = pd.read_csv(dir+files[2], skiprows=3)

date = acc_data.Date
df = pd.Series(date, dtype=np.datetime64)
print(df)
print(df.dt.total_seconds())
# extract only last three columns (X, Y, Z) of data 
acc_data = acc_data[acc_data.columns[-3:]]
gyr_data = gyr_data[gyr_data.columns[-3:]]
mag_data = mag_data[mag_data.columns[-3:]]

# convert into correct units
acc_data = acc_data/1000 # [mg] --> [g]

# remove effect of gravity to last column only
acc_data[acc_data.columns[-1]] -= 1

gyr_data = gyr_data
mag_data = mag_data/1000 # [mGa] --> [G]

data = pd.concat([gyr_data, acc_data, mag_data], axis=1)
data = np.round(data, 7)

# data.columns

header = ["Gyroscope X (deg/s)", "Gyroscope Y (deg/s)", "Gyroscope Z (deg/s)", "Accelerometer X (g)", "Accelerometer Y (g)", "Accelerometer Z (g)", "Magnetometer X (G)", "Magnetometer Y (G)", "Magnetometer Z (G)"]

data = data[1:]
data.columns = header
data.to_csv("example_dataset{}_CalInertialAndMag.csv".format(index))
print("dataset example_dataset{}_CalInertialAndMag.csv has been created".format(index))

data

0     2021-06-30 13:59:13.910
1     2021-06-30 13:59:13.967
2     2021-06-30 13:59:14.027
3     2021-06-30 13:59:14.057
4     2021-06-30 13:59:14.117
                ...
386   2021-06-30 13:59:33.198
387   2021-06-30 13:59:33.258
388   2021-06-30 13:59:33.318
389   2021-06-30 13:59:33.348
390   2021-06-30 13:59:33.407
Name: Date, Length: 391, dtype: datetime64[ns]

AttributeError: 'DatetimeProperties' object has no attribute 'total_seconds'

In [24]:
import pandas as pd
import numpy as np
import os

data = pd.read_csv("./datasets/Data.csv")
data = data.iloc[:-1]
data = data[data.columns[:-1]]


acc_data = data[data.columns[:3]]
gyr_data = data[data.columns[3:6]]
mag_data = data[data.columns[-3:]]
# gyr_data /= 1000 # converts mdps to dps
# acc_data /= 1000 # converts mg to g
# mag_data /= 1000 # converts mG to G

data = pd.concat([gyr_data, acc_data, mag_data], axis=1)

# data /= 1000 # converts all units from mili to unit
header = ["Gyroscope X (deg/s)", "Gyroscope Y (deg/s)", "Gyroscope Z (deg/s)", "Accelerometer X (g)", "Accelerometer Y (g)", "Accelerometer Z (g)", "Magnetometer X (G)", "Magnetometer Y (G)", "Magnetometer Z (G)"]
data.columns = header
data['Accelerometer Z (g)'] += 1000
data.to_csv("example_Data_CalInertialAndMag.csv")
print("dataset created")
data

dataset created

,Gyroscope X (deg/s),Gyroscope Y (deg/s),Gyroscope Z (deg/s),Accelerometer X (g),Accelerometer Y (g),Accelerometer Z (g),Magnetometer X (G),Magnetometer Y (G),Magnetometer Z (G)
0,2.0,0.0,-9.0,-9,2,-11,312.0,267.0,162.0
1,2.0,0.0,-9.0,-9,2,-11,312.0,267.0,162.0
2,2.0,-1.0,-9.0,-8,3,-10,319.0,258.0,135.0
3,2.0,-2.0,-9.0,-9,2,-9,318.0,243.0,156.0
4,2.0,-2.0,-9.0,-10,2,-9,334.0,262.0,151.0
...,...,...,...,...,...,...,...,...,...
796,2.0,-2.0,-8.0,-4,15,-8,274.0,18.0,175.0
797,2.0,-2.0,-9.0,-5,15,-8,264.0,6.0,172.0
798,2.0,-2.0,-9.0,-5,15,-9,264.0,6.0,172.0
799,2.0,-1.0,-9.0,-3,15,-10,271.0,27.0,192.0
800,2.0,-1.0,-9.0,-4,15,-7,262.0,19.0,180.0

,accX[mg],accY[mg],accZ[mg],gyroX[mdps],gyroY[mdps],gyroZ[mdps],magX[mG],magY[mG],magZ[mG],Unnamed: 9
0,-9,2,-1011,2.0,0.0,-9.0,312.0,267.0,162.0,NaN
1,-9,2,-1011,2.0,0.0,-9.0,312.0,267.0,162.0,NaN
2,-8,3,-1010,2.0,-1.0,-9.0,319.0,258.0,135.0,NaN
3,-9,2,-1009,2.0,-2.0,-9.0,318.0,243.0,156.0,NaN
4,-10,2,-1009,2.0,-2.0,-9.0,334.0,262.0,151.0,NaN
...,...,...,...,...,...,...,...,...,...,...
797,-5,15,-1008,2.0,-2.0,-9.0,264.0,6.0,172.0,NaN
798,-5,15,-1009,2.0,-2.0,-9.0,264.0,6.0,172.0,NaN
799,-3,15,-1010,2.0,-1.0,-9.0,271.0,27.0,192.0,NaN
800,-4,15,-1007,2.0,-1.0,-9.0,262.0,19.0,180.0,NaN
801,-5,16,-1009,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
import pandas as pd
from datetime import datetime, timedelta
index = 5
dir = "./datasets/Data_Log{}/".format(index)
files = os.listdir(dir)

# extract data and skip first three rows
acc_data = pd.read_csv(dir+files[0], skiprows=3) # add skiprows=3 for proper file formatting
gyr_data = pd.read_csv(dir+files[1], skiprows=3)
mag_data = pd.read_csv(dir+files[2], skiprows=3)

date = acc_data.Date
df = pd.to_datetime(date)
# df.dt.total_seconds()
timedelta(df.dt.time.values[0]) - timedelta(datetime.now().time())

TypeError: unsupported type for timedelta days component: datetime.time

In [ ]:
set1['Date']=pd.to_datetime(set1['Date'])
v_sample_rate = set1.groupby(set1.Date.dt.second).count().mean()

set1['TimeDiff']=(set1.Date-set1.Date[0])
set1['TimeDiff']=set1['TimeDiff']/ np.timedelta64(1, 's')